body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.App {
  overflow: hidden;
  text-align: left;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6rem;
  justify-content: left;
}

.category li {
  padding: 0.5rem;
  color: #0e0c0c;
  font-weight: bold;
  background-color: #e7e9e9b4;
  cursor: pointer;
  transition: all 0.2s;
}
.category li:hover {
  background-color: #515353b7;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product-item {
  width: 30%;
  padding: 0.3rem;
  cursor: pointer;
}

.product-item img {
  object-fit: contain;
  width: 100%;
  height: 20rem;
}
.product-item p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.product {
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
  background-color: rgba(204, 202, 202, 0.274);
  padding: 2rem;
}
.product-title {
  color: #060707;
}
.product-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}
.product-description {
  padding: 2rem;
  line-height: 1.8;
}
.product-wrapper img {
  width: 25%;
}
.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-container-title {
  margin-right: auto;
}
.nav {
  margin-left: 8px;
}

.nav-link {
  margin: 0 4px;
}
.favorites-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorites-container img {
  height: 25px;
  width: 25px;
  margin-right: 3px;
}

@media (max-width: 767px) {
  .product-item {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product-item {
    width: 45%;
  }
}
